<a href="https://colab.research.google.com/github/michelebazana/Big-Data-Science/blob/main/predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from google.colab import files
df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/desafio/baba/BABA.csv", )

In [ ]:
df.head()

,Unnamed: 0,X,date,mes,weekday,margem,venda,desconto,outdesc,outmg
0,1,1,20140801,agosto,sexta-feira,0.406111,110042.460,9190.907534,0,0
1,2,2,20140802,agosto,sabado,0.416022,58377.320,5713.043012,0,0
2,3,3,20140803,agosto,domingo,0.431993,64635.390,8621.708915,0,0
3,4,4,20140804,agosto,segunda-feira,0.409216,140417.321,18312.965640,0,0
4,5,5,20140805,agosto,terca-feira,0.449648,149700.286,19942.741300,0,0

In [ ]:
df.shape

(396, 10)

In [ ]:
df.isnull().sum()

Unnamed: 0     0
X              0
date           0
mes            0
weekday        0
margem         0
venda         31
desconto       0
outdesc        0
outmg          0
dtype: int64

In [ ]:
df.corr()

,Unnamed: 0,X,date,margem,venda,desconto,outdesc,outmg
Unnamed: 0,1.000000,1.000000,0.865845,-0.073342,-0.421657,-0.628833,-0.011337,-0.031474
X,1.000000,1.000000,0.865845,-0.073342,-0.421657,-0.628833,-0.011337,-0.031474
date,0.865845,0.865845,1.000000,-0.149052,-0.318254,-0.602974,-0.047954,-0.086453
margem,-0.073342,-0.073342,-0.149052,1.000000,-0.087768,0.264945,0.061757,-0.234386
venda,-0.421657,-0.421657,-0.318254,-0.087768,1.000000,0.799616,0.483898,-0.077013
desconto,-0.628833,-0.628833,-0.602974,0.264945,0.799616,1.000000,0.467836,-0.069002
outdesc,-0.011337,-0.011337,-0.047954,0.061757,0.483898,0.467836,1.000000,-0.006225
outmg,-0.031474,-0.031474,-0.086453,-0.234386,-0.077013,-0.069002,-0.006225,1.000000

In [ ]:
dummies_mes = pd.get_dummies(df['mes'])
df['MesAgosto'] = dummies_mes['agosto']
df['MesSetembro'] = dummies_mes['agosto']
df['MesOutubro'] = dummies_mes['outubro']
df['MesNovembro'] = dummies_mes['novembro']
df['MesDezembro'] = dummies_mes['dezembro']
df['MesJaneiro'] = dummies_mes['janeiro']
df['MesFevereiro'] = dummies_mes['fevereiro']
df['MesMarco'] = dummies_mes['marco']
df['MesAbril'] = dummies_mes['abril']
df['MesMaio'] = dummies_mes['maio']
df['MesJunho'] = dummies_mes['junho']
df['MesJulho'] = dummies_mes['julho']

In [ ]:
df.head()

,Unnamed: 0,X,date,mes,weekday,margem,venda,desconto,outdesc,outmg,...,MesOutubro,MesNovembro,MesDezembro,MesJaneiro,MesFevereiro,MesMarco,MesAbril,MesMaio,MesJunho,MesJulho
0,1,1,20140801,agosto,sexta-feira,0.406111,110042.460,9190.907534,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,20140802,agosto,sabado,0.416022,58377.320,5713.043012,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3,20140803,agosto,domingo,0.431993,64635.390,8621.708915,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,20140804,agosto,segunda-feira,0.409216,140417.321,18312.965640,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,5,20140805,agosto,terca-feira,0.449648,149700.286,19942.741300,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
treino = df.iloc[0:365,] 
teste = df.iloc[366:396,]

In [ ]:
treino

,Unnamed: 0,X,date,mes,weekday,margem,venda,desconto,outdesc,outmg,...,MesOutubro,MesNovembro,MesDezembro,MesJaneiro,MesFevereiro,MesMarco,MesAbril,MesMaio,MesJunho,MesJulho
0,1,1,20140801,agosto,sexta-feira,0.406111,110042.460,9190.907534,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,20140802,agosto,sabado,0.416022,58377.320,5713.043012,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3,20140803,agosto,domingo,0.431993,64635.390,8621.708915,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,20140804,agosto,segunda-feira,0.409216,140417.321,18312.965640,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,5,20140805,agosto,terca-feira,0.449648,149700.286,19942.741300,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,361,20150727,julho,segunda-feira,0.394510,43796.980,3487.843143,0,0,...,0,0,0,0,0,0,0,0,0,1
361,362,362,20150728,julho,terca-feira,0.480154,71934.730,4965.290000,0,0,...,0,0,0,0,0,0,0,0,0,1
362,363,363,20150729,julho,quarta-feira,0.446441,124043.650,3477.950004,0,0,...,0,0,0,0,0,0,0,0,0,1
363,364,364,20150730,julho,quinta-feira,0.429696,47482.530,4328.840013,0,0,...,0,0,0,0,0,0,0,0,0,1
364,365,365,20150731,julho,sexta-feira,0.411759,46300.510,3378.833130,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
teste

,Unnamed: 0,X,date,mes,weekday,margem,venda,desconto,outdesc,outmg,...,MesOutubro,MesNovembro,MesDezembro,MesJaneiro,MesFevereiro,MesMarco,MesAbril,MesMaio,MesJunho,MesJulho
366,367,367,20150802,agosto,domingo,0.437401,NaN,3631.240000,0,0,...,0,0,0,0,0,0,0,0,0,0
367,368,368,20150803,agosto,segunda-feira,0.416075,NaN,3753.040004,0,0,...,0,0,0,0,0,0,0,0,0,0
368,369,369,20150804,agosto,terca-feira,0.385379,NaN,2523.500013,0,0,...,0,0,0,0,0,0,0,0,0,0
369,370,370,20150805,agosto,quarta-feira,0.389125,NaN,5285.936265,0,0,...,0,0,0,0,0,0,0,0,0,0
370,371,371,20150806,agosto,quinta-feira,0.371438,NaN,4415.980000,0,0,...,0,0,0,0,0,0,0,0,0,0
371,372,372,20150807,agosto,sexta-feira,0.418109,NaN,3803.310997,0,0,...,0,0,0,0,0,0,0,0,0,0
372,373,373,20150808,agosto,sabado,0.372597,NaN,1764.178118,0,0,...,0,0,0,0,0,0,0,0,0,0
373,374,374,20150809,agosto,domingo,0.415690,NaN,1712.850000,0,0,...,0,0,0,0,0,0,0,0,0,0
374,375,375,20150810,agosto,segunda-feira,0.422504,NaN,4604.669365,0,0,...,0,0,0,0,0,0,0,0,0,0
375,376,376,20150811,agosto,terca-feira,0.375648,NaN,3511.194353,0,0,...,0,0,0,0,0,0,0,0,0,0
376,377,377,20150812,agosto,quarta-feira,0.429712,NaN,3075.064353,0,0,...,0,0,0,0,0,0,0,0,0,0
377,378,378,20150813,agosto,quinta-feira,0.513165,NaN,29074.585950,1,0,...,0,0,0,0,0,0,0,0,0,0
378,379,379,20150814,agosto,sexta-feira,0.500686,NaN,16838.038120,0,0,...,0,0,0,0,0,0,0,0,0,0
379,380,380,20150815,agosto,sabado,0.373813,NaN,874.530000,0,0,...,0,0,0,0,0,0,0,0,0,0
380,381,381,20150816,agosto,domingo,0.408431,NaN,1088.482470,0,0,...,0,0,0,0,0,0,0,0,0,0
381,382,382,20150817,agosto,segunda-feira,0.437045,NaN,5499.722190,0,0,...,0,0,0,0,0,0,0,0,0,0
382,383,383,20150818,agosto,terca-feira,0.396580,NaN,3129.898118,0,0,...,0,0,0,0,0,0,0,0,0,0
383,384,384,20150819,agosto,quarta-feira,0.441320,NaN,6034.358118,0,0,...,0,0,0,0,0,0,0,0,0,0
384,385,385,20150820,agosto,quinta-feira,0.370705,NaN,2384.578118,0,0,...,0,0,0,0,0,0,0,0,0,0
385,386,386,20150821,agosto,sexta-feira,0.463645,NaN,5376.469365,0,0,...,0,0,0,0,0,0,0,0,0,0
386,387,387,20150822,agosto,sabado,0.372723,NaN,611.050000,0,0,...,0,0,0,0,0,0,0,0,0,0
387,388,388,20150823,agosto,domingo,0.427290,NaN,2679.465955,0,0,...,0,0,0,0,0,0,0,0,0,0
388,389,389,20150824,agosto,segunda-feira,0.412539,NaN,4317.200000,0,0,...,0,0,0,0,0,0,0,0,0,0
389,390,390,20150825,agosto,terca-feira,0.389616,NaN,988.060000,0,0,...,0,0,0,0,0,0,0,0,0,0
390,391,391,20150826,agosto,quarta-feira,0.400516,NaN,4353.410000,0,0,...,0,0,0,0,0,0,0,0,0,0
391,392,392,20150827,agosto,quinta-feira,0.451562,NaN,5846.133551,0,0,...,0,0,0,0,0,0,0,0,0,0
392,393,393,20150828,agosto,sexta-feira,0.472608,NaN,2657.847261,0,0,...,0,0,0,0,0,0,0,0,0,0
393,394,394,20150829,agosto,sabado,0.385612,NaN,269.530000,0,0,...,0,0,0,0,0,0,0,0,0,0
394,395,395,20150830,agosto,domingo,0.495615,NaN,3434.838118,0,0,...,0,0,0,0,0,0,0,0,0,0
395,396,396,20150831,agosto,segunda-feira,0.391486,NaN,2122.636306,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_treino = treino['venda']
y_teste = teste['venda']

In [ ]:
x_treino = treino.loc[:,['MesAgosto','MesSetembro','MesOutubro','MesNovembro','MesDezembro','MesJaneiro','MesFevereiro','MesMarco','MesAbril','MesMaio','MesJunho','MesJulho','margem','desconto','outdesc','outmg']]

In [ ]:
x_treino

,MesAgosto,MesSetembro,MesOutubro,MesNovembro,MesDezembro,MesJaneiro,MesFevereiro,MesMarco,MesAbril,MesMaio,MesJunho,MesJulho,margem,desconto,outdesc,outmg
0,1,1,0,0,0,0,0,0,0,0,0,0,0.406111,9190.907534,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0.416022,5713.043012,0,0
2,1,1,0,0,0,0,0,0,0,0,0,0,0.431993,8621.708915,0,0
3,1,1,0,0,0,0,0,0,0,0,0,0,0.409216,18312.965640,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0.449648,19942.741300,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,0,0,0,0,0,0,0,0,0,0,0,1,0.394510,3487.843143,0,0
361,0,0,0,0,0,0,0,0,0,0,0,1,0.480154,4965.290000,0,0
362,0,0,0,0,0,0,0,0,0,0,0,1,0.446441,3477.950004,0,0
363,0,0,0,0,0,0,0,0,0,0,0,1,0.429696,4328.840013,0,0
364,0,0,0,0,0,0,0,0,0,0,0,1,0.411759,3378.833130,0,0

In [ ]:
x_teste = teste.loc[:,['MesAgosto','MesSetembro','MesOutubro','MesNovembro','MesDezembro','MesJaneiro','MesFevereiro','MesMarco','MesAbril','MesMaio','MesJunho','MesJulho','margem','desconto','outdesc','outmg']]

In [ ]:
x_teste

,MesAgosto,MesSetembro,MesOutubro,MesNovembro,MesDezembro,MesJaneiro,MesFevereiro,MesMarco,MesAbril,MesMaio,MesJunho,MesJulho,margem,desconto,outdesc,outmg
366,1,1,0,0,0,0,0,0,0,0,0,0,0.437401,3631.240000,0,0
367,1,1,0,0,0,0,0,0,0,0,0,0,0.416075,3753.040004,0,0
368,1,1,0,0,0,0,0,0,0,0,0,0,0.385379,2523.500013,0,0
369,1,1,0,0,0,0,0,0,0,0,0,0,0.389125,5285.936265,0,0
370,1,1,0,0,0,0,0,0,0,0,0,0,0.371438,4415.980000,0,0
371,1,1,0,0,0,0,0,0,0,0,0,0,0.418109,3803.310997,0,0
372,1,1,0,0,0,0,0,0,0,0,0,0,0.372597,1764.178118,0,0
373,1,1,0,0,0,0,0,0,0,0,0,0,0.415690,1712.850000,0,0
374,1,1,0,0,0,0,0,0,0,0,0,0,0.422504,4604.669365,0,0
375,1,1,0,0,0,0,0,0,0,0,0,0,0.375648,3511.194353,0,0
376,1,1,0,0,0,0,0,0,0,0,0,0,0.429712,3075.064353,0,0
377,1,1,0,0,0,0,0,0,0,0,0,0,0.513165,29074.585950,1,0
378,1,1,0,0,0,0,0,0,0,0,0,0,0.500686,16838.038120,0,0
379,1,1,0,0,0,0,0,0,0,0,0,0,0.373813,874.530000,0,0
380,1,1,0,0,0,0,0,0,0,0,0,0,0.408431,1088.482470,0,0
381,1,1,0,0,0,0,0,0,0,0,0,0,0.437045,5499.722190,0,0
382,1,1,0,0,0,0,0,0,0,0,0,0,0.396580,3129.898118,0,0
383,1,1,0,0,0,0,0,0,0,0,0,0,0.441320,6034.358118,0,0
384,1,1,0,0,0,0,0,0,0,0,0,0,0.370705,2384.578118,0,0
385,1,1,0,0,0,0,0,0,0,0,0,0,0.463645,5376.469365,0,0
386,1,1,0,0,0,0,0,0,0,0,0,0,0.372723,611.050000,0,0
387,1,1,0,0,0,0,0,0,0,0,0,0,0.427290,2679.465955,0,0
388,1,1,0,0,0,0,0,0,0,0,0,0,0.412539,4317.200000,0,0
389,1,1,0,0,0,0,0,0,0,0,0,0,0.389616,988.060000,0,0
390,1,1,0,0,0,0,0,0,0,0,0,0,0.400516,4353.410000,0,0
391,1,1,0,0,0,0,0,0,0,0,0,0,0.451562,5846.133551,0,0
392,1,1,0,0,0,0,0,0,0,0,0,0,0.472608,2657.847261,0,0
393,1,1,0,0,0,0,0,0,0,0,0,0,0.385612,269.530000,0,0
394,1,1,0,0,0,0,0,0,0,0,0,0,0.495615,3434.838118,0,0
395,1,1,0,0,0,0,0,0,0,0,0,0,0.391486,2122.636306,0,0

In [ ]:
mod = LinearRegression()
#from sklearn.tree import DecisionTreeRegressor
#mod = DecisionTreeRegressor()
mod.fit(x_treino, y_treino)
print(mod.score(x_treino, y_treino))

0.7975381326585657

In [ ]:
prev = mod.predict(x_teste)

In [ ]:
pd.DataFrame(prev).to_csv('predict.csv')

In [ ]:
files.download('predict.csv')